.Profile {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Profile .Post {
    width: 600px;
    height: 500px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.Profile .Post .Image{
    flex: 70%;
   
}

.Profile .Post .Image img {
    width: 100%;
}

.Profile .Post .Content{
    flex: 30%;
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.Profile .Post .Content .title {
    flex: 30%;
    text-align: center;
    font-size: 20px;
}

.Profile .Post .Content .description {
    flex: 50%;
    text-align: center;

}

.Profile .Post .Engagement {
    flex: 20%;
    display: grid;
    place-items: center;
}
.Profile .Post .Engagement #likeButton {
    font-size: 40px;
     color: grey;

}
.Profile .Post .Engagement #likeButton:hover{
    cursor: pointer;
}
.Profile .Post .Engagement #likeButton:active{
    color: black;

}